body {
    background-color: lightgray;
}

.button {
    margin-top: 50px;
    padding: 12px 40px;
    border: none;
    color: white;
    background-color: orangered;
}

.img1 {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 50px;
    left: 100px;
}

.img2 {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 200px;
    z-index: 2;
}

.img3 {
    position: absolute;
    width: 100%;
    top: 150px;
    left: 250px;
    z-index: 3;
}

@media screen and (min-width:480px) and (max-width:1000px) {
    .col-md-6 {
        margin-top: 250px !important;
    }
    .card{
        width: 200px !important;
       margin-top: 10px !important;
    }
    

    .img1 {
        width: 300px !important;
        height: 300px !important;
        left: 50px;

    }

    .img2 {
        width: 300px !important;
        height: 300px !important;
        left: 90px !important;

    }

    .img3 {
        width: 300px !important;
        height: 300px !important;
        left: 130px;

    }
   
  

     

 


}